.EventsSection {
  display: flex;
  gap: 20px;

  .Event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;
  }

  .NoEventText {
    width: 100%;
    text-align: center;
  }
}
